extends layout.pug 

block content

  each flight in flights
    .customShadow.flex.items-center
      p.rocklight.text-xl.basis-0 #{flight.carrier}
      .text-center.grow.flex.flex-col.gap-4
        p.rockbold #{flight.origin} - #{flight.destination}
        p.kanitextl.text-base #{flight.duration}
        p.kanitextl.text-base Stops: #{flight.stops}
        p.rocklight.text-xl
          span #{flight.departure} - 
          span #{flight.arrival}
        p.rockbold.text-xl #{flight.price}